<header>
  <nav>
    <a [routerLink]="['']">Home</a>
    <a [routerLink]="['login']">Login</a>

  </nav>
</header>
<main>
  <h1>Hello!</h1>

  <!-- Images (and assets) are parsed and loaded from within the public directory -->
  <img src="/img/angular.png">

  <router-outlet></router-outlet>
</main>
<footer>
  Infuse.us
</footer>
